DATABASE_URL="file:./dev.db"
JWT_SECRET="troque-esta-chave-em-producao-123456"
RESTAURANT_WHATSAPP="5555984375004"
NEXT_PUBLIC_WHATSAPP="5555984375004"
# Para PRODUÇÃO com PostgreSQL, troque para:
# DATABASE_URL="postgresql://usuario:senha@localhost:5432/restaurante?schema=public"
